<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<!-- DispatcherServlet 을 dispatcher 라는 이름으로 등록한다. -->
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>

		<!-- contextClass 초기화 파라미터를 설정한다. 자바 설정을 사용하는 경우 AnnotationConfigWebApplcationContext클래스 -->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		
		<!-- contextConfiguration 초기화 파라미터의 값을 지정한다. 스프링 설정 클래스 목록을 지정한다.
		각 설정 파일의 경로는 줄바꿈이나 콤마로 구분한다. -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				config.MvcConfig
				config.MemberConfig
				config.ControllerConfig
				config.MessageBeanConfig
			</param-value>
		</init-param>

		<!-- 톰캣같은 컨테이너가 웹 애플리케이션을 구동할 때 이 서블릿을 함께 실행하도록 설정. -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 모든 요청을 Dispatcher 서블릿이 처리하도록 매핑. -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>	
	</servlet-mapping>
	
	<!-- HTTP 요청 파라미터의 인코딩 처리를 위해 서블릿 필터를 등록한다.
	스프링은 인코딩 처리를 위한 필터인 CharacterEncodingFilter 클래스를 제공한다. -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
